@font-face {
  font-family: "sf-pro-regular";
  src: url(./font/sf-pro-regular.OTF);
}
@font-face {
  font-family: "space-tech-italic";
  src: url(./font/space-tech-italic.ttf);
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: "sf-pro-regular", sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.portal {
  font-family: "sf-pro-regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  padding: 0;
  margin: 0;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: var(--clr-body-bg);
}

.disable-text-selection {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Start of Instruction */
.instruction p {
  font-size: 18px;
  font-weight: 600;
  color: rgb(55, 71, 79);
  margin-bottom: 8%;
}
/* End of Instruction */

/* Start of Omada Buttons */
.status {
  color: var(--clr-status-text);
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  width: fit-content;
  margin-inline: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 0.5em;
}

.oper-section-item {
  font-size: 18px;
  font-weight: 400;
  display: block;
  margin-left: auto;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 15px;
  background: transparent;
  color: var(--clr-osi-text);
  text-align: left;
  border-radius: 24px;
  border: 2px solid var(--clr-input-border);
  width: 100%;
  padding: 12px;
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

#rotatingText {
  font-size: 13px;
}

.input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  outline: none;
  border-radius: 24px;
  color: var(--clr-input-text);
  background: var(--clr-input-bg);
  border: 2px solid var(--clr-input-border);
  letter-spacing: 0.5px;
  caret-color: var(--clr-input-text);
}

.input:focus {
  outline: 2px solid var(--clr-input-border-fcs);
}

.input:focus::placeholder {
  color: var(--clr-phdr-text-fcs);
}

input#voucherCode {
  background: url(./img/icon/voucher.png) 10px;
  background-repeat: no-repeat;
  text-indent: 40px;
}

/* Start of input name */
.inputName {
  font-size: 18px;
  font-weight: 600;
  color: rgb(55, 71, 79);
  text-align: left;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  --max-width: 30rem;
  width: min(90% - 0rem, var(--max-width));
}
/* End of input name */

.button {
  background: var(--clr-btns-bg);
  border-radius: 24px;
  border: none;
  margin: 0 auto;
  --max-width: 30rem;
  width: min(90% - 0rem, var(--max-width));
  padding-top: 14px;
  padding-bottom: 14px;
  display: block;
  outline: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.button p {
  font-size: 18px;
  font-weight: 600;
  color: var(--clr-btns-text);
  text-align: center;
}
.button:active {
  background: var(--clr-btns-actv-bg);
  transform: scale(0.9);
  border: none;
  outline: none;
}
.button:focus {
  color: var(--clr-btns-text-fcs);
  border: none;
  outline: none;
}
/* End of Omada Buttons */

/* Start of main-logo */
.main-logo img {
  height: 100px;
  width: auto;
}

.main-logo p {
  font-family: "space-tech-italic", sans-serif;
  color: rgba(224, 74, 178);
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  text-transform: lowercase;
  margin: 0;
  float: none;
}
/* End of main-logo */

/* Start of Main Greeting */
.maingreeting {
  font-family: "sf-pro-regular", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  letter-spacing: 1px;
  padding-top: 10px;
  padding-bottom: 20px;
}
/* End of Main Greeting */

/* Start of Omada Login Box CSS */
.form-box {
  display: block;
  position: relative;
  --max-width: 20rem;
  width: min(90% - 0rem, var(--max-width));
  border-radius: 20px;
  align-items: center;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  clear: both;
}
.form-glass {
  background: rgb(255, 255, 255);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

/* End of Omada Login Box CSS */
